name: Release
on:
  push:
    tags:
      - 'v*'
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y rpm fakeroot dpkg-dev

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Create vendor directory
        run: make vendor

      - name: Build all packages
        run: make build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mieru-packages
          path: |
            release/*.deb
            release/*.rpm
            release/*.tar.gz
            release/*.zip
            release/*.sha256.txt
          if-no-files-found: error

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release/*.deb
            release/*.rpm
            release/*.tar.gz
            release/*.zip
            release/*.sha256.txt
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
